- title("New Language")
#content2
  %h1 New language

  - form_for(@language) do |f|
    = f.error_messages

    %p
      = f.label :name
      %br
      = f.text_field :name

    %p
      = f.submit 'Create'

  = link_to 'Back', languages_path
