<div>
  <p>By: <%= submition.name %>@<%= submition.created_at %></p>
  <p>Language: <%= submition.language.name %></p>
  <p>Score: <%= submition.score %></p>
  <p>Code: <%= submition.code %></p>
</div>
