<h1>Listing submitions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Language</th>
  </tr>

<% @submitions.each do |submition| %>
  <tr>
    <td><%=h submition.name %></td>
    <td><%=h submition.code %></td>
    <td><%=h submition.language %></td>
    <td><%= link_to 'Show', submition %></td>
    <td><%= link_to 'Edit', edit_submition_path(submition) %></td>
    <td><%= link_to 'Destroy', submition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New submition', new_submition_path %>