<p>
  <b>Name:</b>
  <%=h @submition.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @submition.code %>
</p>

<p>
  <b>Language:</b>
  <%=h @submition.language %>
</p>


<%= link_to 'Edit', edit_submition_path(@submition) %> |
<%= link_to 'Back', submitions_path %>