<h1>Editing submition</h1>

<% form_for(@submition) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "submitions/form", :locals => { :submition => @submition, :languages => @languages, :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @submition %> |
<%= link_to 'Back', submitions_path %>
