%p
  = f.label :title
  %br
  = f.text_field :title

%p
  = f.label :description
  %br
  = f.text_area :description

%p
  = f.label :regex
  %br
  = f.text_field :regex

%p
  = f.label :example_output
  %br
  = f.text_area :example_output
