#content
  %h1 Editing challenge

  - form_for(@challenge) do |f|
    = f.error_messages

    = render :partial => "challenges/form", :locals => { :f => f }
    %p
      = f.submit 'Update'

  = link_to 'Show', @challenge
  &nbsp;|&nbsp;
  = link_to 'Back', challenges_path 
