<p>
  <b>Title:</b>
  <%=h @challenge.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @challenge.description %>
</p>

<p>
  <b>Submitions:</b>
  <div>
    <%= "No submissions yet." if @challenge.submissions.empty? %>
    <% @challenge.submissions.each do |submission| %>
      <%= render :partial => "submissions/submission", :locals => { :submission => submission } %>
    <% end %>
  </div>
</p>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "submissions/form", :locals => { :submission => @submission, :languages => @languages, :f => f } %>
  <%= hidden_field_tag :challenge_id, @challenge.id %>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
