<%= render :partial => "challenges/challenge", :locals => { :challenge => @challenge } %>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "submissions/form", :locals => { :submission => @submission, :languages => @languages, :f => f } %>
  <%= hidden_field_tag :challenge_id, @challenge.id %>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<p>
  <div>
    <%= "No submissions yet." if @challenge.submissions.empty? %>
    <% @challenge.submissions.each do |submission| %>
      <%= render :partial => "submissions/submission", :locals => { :submission => submission } %>
    <% end %>
  </div>
</p>

<% if !current_user.blank? && current_user.has_role('admin') %>
  <%= link_to 'Edit', edit_challenge_path(@challenge) %> | 
<% end %>
<%= link_to 'Back', challenges_path %>
